body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#rodape{
    color: black;
    background-color: #C1D4D9;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    height:auto;
    text-align: center;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#labelPerfil{
    display: inline-block;
}
#cards2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: #C1D4D9;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    height: 70px;
    width: 40%;
    text-align: center;
    padding: 15px;
    margin: auto;
}
#cards2:hover{
    background-color: #F2CA99 ;
    border: 3px solid #735C48;
    padding: 20px;
    
}
#botoes{
    display: flex;
    text-decoration: none;
    color: black;
    background-color: #C1D4D9;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
#botoes:hover{
    background-color: #F2CA99 ;
    border: 3px solid #735C48;
    padding: 20px;
}
h3{
    display: flex;
    justify-content: center;
}

#perfil{
    
    color: black;
    background-color: #C1D4D9;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    text-align: center;
    height: 20px;
    text-align: center;
    padding: 20px 50px 30px 50px;
    margin: 10px;
    font-size: large;
}
#perfil:hover{
    background-color: #F2CA99 ;
    border: 3px solid #735C48;
    padding: 20px;
}
#caixa_ferramentas{
    display: flex;
    justify-content: center;
    background-color: ffffff;
    border-radius: 10px;
    height: 90px;
    box-shadow: 1px 2px 3px 2px gray;
    padding: 20px;
}

#janela1{
    display: inline-block;
    width:500px;
    height: 200px;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    background-image: url(img/costaazulpb.jpg);
    
}
#janela1:hover{
    background-image: url(img/costaAzul.png);
}

#janela2{
    display: inline-block;
    width:500px;
    height: 200px;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    background-image: url(img/davincipb.jpg)
}
#janela2:hover{
    background-image: url(img/davinci.png);
}


#janela3{
    display: inline-block;
    width:500px;
    height: 200px;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    background-image: url(img/lencoispb.jpg);
}
#janela3:hover{
    background-image: url(img/lencois.png);
}


#janela4{
    display: inline-block;
    width:500px;
    height: 200px;
    border: 3px solid #6F96A6 ;
    border-radius: 10px;
    background-image: url(img/monsenhorpb.jpg);
}
#janela4:hover{
    background-image: url(img/monsenhor.png);
}
#painel{
    display: flex;
    vertical-align: bottom;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    padding: 0%;
    margin: 0%;
}
#cards{
    display: inline-block;
    border: 3px solid #735C48;
    padding: 5px;
    margin: 5px;
    max-width: 250px;
    vertical-align:auto;
    border-radius: 10px;
}

#cards2{
    display: flex;
    justify-content: center;
    justify-content: center;
    margin: auto;
    border: 3px solid #735C48;
    padding: 5px;
    margin: 5px;
    width: 80%;
    vertical-align:auto;
    border-radius: 10px;
    background-color: #C1D4D9;
    border-radius: 10px;

}

#cards3{
    display:flex;
    margin: auto;
    justify-content: center;
    border: 3px solid #735C48;
    padding: 5px;
    width: 700px;
    border-radius: 10px;
}

#cards4{
    display: block;
    margin: auto;
    border: 3px solid #735C48;
    padding: 5px;
    width: 98%;
    max-width: 700px;
    border-radius: 10px;

}
#caracteristicas{
    display: block;
    margin: auto;
    border: 3px solid #735C48;
    padding: 5px;
    max-width: 700px;
    max-height: 300px;
    vertical-align:auto;
    font-size:larger;
    border-radius: 10px;

}
#descricao{
    display: block;
    margin: auto;
    border: 3px solid #735C48;
    padding: 5px;
    max-width: 700px;
    max-height: 300px;
    vertical-align:auto;
    font-size:larger;
    border-radius: 10px;

}
#logo{
display: grid;
place-items: center;
width: 275px;

}

#teste{
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border: 3px solid black;
    align-items: center;
    display: inline-block;
}
#legenda{
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    background-color: #735C48;
    border-radius: 3px;
    padding: 3px;
    margin: 3px;    
}

#botaoProximo{

    background-color: #C1D4D9;
    width: 700px;
    height: 50px;
    border: #735C48 3px solid;
    border-radius:  10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-decoration: none;
    align-items: center;
}
#botaoProximo:hover {

    background-color: #F2CA99;
}
#logotipo{

    background-image: url(img/logo_nome_preto.png);
    width: 230px;
    height: 100px;
}
#logotipo:hover{

    background-image: url(img/logo_nome_azul.png);

}

#painelIndex{
    display:inline-block;
    justify-content: center;
    display: grid;
    place-items: center;
    width: 700px;
    margin: auto;

    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px  gray;
    padding: 10px 10px 40px 10px ;

}
#painelEstilos{

    display: grid;
    place-items: center;
    
    box-shadow: 2px 2px 2px 2px #919191;
    border-radius: 10px;
    width: 60%;
    margin: 10px;

}
#cards5{
display:inline;
justify-content: center;
}
#quadro{
    width: 300px;
    height: 100px;
    border: #6F96A6 solid 3px;
}